.hero
    background: #f1f1f1 url('../../img/hero/hero-bg.jpg') no-repeat center top
    margin-top: 80px
    padding-top: 120px
    padding-bottom: 270px
    background-color: tranparent
    &__title
        +bold
        display: block
    &__subtitle
        display: block
        +bold
        margin-bottom: 67px
        font-size: 30px
    &__button
